@font-face {
  font-family: "Ubuntu Sans Mono";
  src: url("./assets/fonts/UbuntuSansMono-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Sans Mono";
  src: url("./assets/fonts/UbuntuSansMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}

html {
  background: grey;
}

body {
  display: grid;
  min-height: 100vh;
  font-family: "Ubuntu Sans Mono", monospace;
}

h1, h2, h3, h4, h5, h6, p {
  color: rgb(237, 0, 0);
  text-shadow: 1px 1px 2px pink;
}

q {
  font-weight: 700;
  font-style: italic;
  color: rgb(0, 229, 237);
}

.page-bg {
  position: relative;
}

.page-bg::before {
  content: "";
  background: no-repeat center/200% url("assets/caravan.webp");
  filter: blur(8px);
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: -1;
}

.pricing {
  display: flex;
  flex-direction: row-reverse;
  flex-flow: wrap;
}

.pricing * {
  margin: 0 4px;
}