@font-face {
  font-family: "Ubuntu Sans Mono";
  src: url("./assets/fonts/UbuntuSansMono-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Sans Mono";
  src: url("./assets/fonts/UbuntuSansMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: grey;
}

body {
  display: grid;
  min-height: 100vh;
  font-family: "Ubuntu Sans Mono", monospace;
  background: no-repeat center/200% url("assets/caravan.webp");
  

}

.pricing {
  display: flex;
  flex-direction: row-reverse;
  flex-flow: wrap;
}

.pricing * {
  margin: 0 4px;
}